[Unit]
Description=Matrix-signal bridge
After=synapse.service
After=signald.service
Requires=signald.service

[Service]
Restart=always

LoadCredential=config:/etc/mautrix/signal/config.yaml
ExecStart=/usr/bin/python3 -m mautrix_signal -c ${CREDENTIALS_DIRECTORY}/config

WorkingDirectory=/tmp
JoinsNamespaceOf=signald

DynamicUser=true

PrivateTmp=yes
PrivateDevices=true
PrivateUsers=true

DevicePolicy=closed

ProtectSystem=strict
ProtectHome=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectClock=true
ProtectKernelLogs=yes

RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes

NoNewPrivileges=yes
LockPersonality=yes

SystemCallFilter=~@mount
[Install]
WantedBy=multi-user.target
