[Unit]
Description=Signald

[Service]
ExecStart=/usr/bin/signald --data /var/lib/signald/data --database jdbc:sqlite:/var/lib/signald/signald.db --socket /run/signald/signald.sock

DynamicUser=yes

RuntimeDirectory=signald
StateDirectory=signald

PrivateTmp=yes
PrivateDevices=true
PrivateUsers=true

DevicePolicy=closed

ProtectSystem=strict
ProtectHome=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectClock=true
ProtectKernelLogs=yes

RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes

NoNewPrivileges=yes
LockPersonality=yes

SystemCallFilter=~@mount

[Install]
WantedBy=multi-user.target
