[Unit]
Description=Pantalaimon E2E Matrix reverse proxy as a system service.
After=synapse.service
Wants=synapse.service

[Service]
ExecStart=/usr/bin/pantalaimon -c /etc/pantalaimon/pantalaimon.conf --data-path /var/lib/pantalaimon

Restart=on-failure

StateDirectory=pantalaimon

DynamicUser=true

### Hardening ###
