[Unit]
Description=Pantalaimon E2E Matrix reverse proxy as a system service.
After=synapse.service
Wants=synapse.service

[Service]
ExecStart=/usr/bin/pantalaimon -c /etc/pantalaimon/pantalaimon.conf --data-path /var/lib/pantalaimon

Restart=on-failure

StateDirectory=pantalaimon

DynamicUser=true

### Hardening ###
PrivateTmp=true
PrivateDevices=true
PrivateUsers=true

CapabilityBoundingSet=
AmbientCapabilities=

ProtectSystem=strict
ProtectHome=yes

ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
ProtectClock=true
ProtectHostname=true
ProtectKernelLogs=true

ProtectProc=invisible
ProcSubset=pid

RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true

SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources @obsolete

RemoveIPC=true
NoNewPrivileges=true
LockPersonality=true
DevicePolicy=closed
UMask=0077

IPAddressAllow=any
PrivateNetwork=false
SocketBindAllow=any

MemoryDenyWriteExecute=false

[Install]
WantedBy=multi-user.target
