[Unit]
Description=Matrix-Facebook bridge
After=synapse.service
Wants=synapse.service

[Service]
Restart=on-failure

LoadCredential=config:/etc/mautrix/facebook/config.yaml
ExecStart=/usr/bin/python3 -m mautrix_facebook -c ${CREDENTIALS_DIRECTORY}/config

WorkingDirectory=/var/lib/mautrix/facebook

StateDirectory=mautrix/facebook

DynamicUser=true

### Hardening ###
