[Unit]
Description=Maubot Matrix Bot
After=synapse.service
Wants=synapse.service

[Service]
Restart=on-failure

ExecStart=/usr/bin/python3 -m maubot --config /etc/maubot/config.yaml --base-config /usr/share/maubot/base-config.yaml

WorkingDirectory=/var/lib/maubot
StateDirectory=maubot
ConfigurationDirectory=maubot

TemporaryFileSystem=/
BindReadOnlyPaths=/usr

DynamicUser=true

### Hardening ###
