[Unit]
Description=Maubot Matrix Bot
After=synapse.service
Wants=synapse.service

After=postgresql.service

[Service]
Restart=on-failure

ExecStart=/usr/bin/python3 -m maubot --config /etc/maubot/config.yaml --base-config /usr/share/maubot/base-config.yaml

WorkingDirectory=/var/lib/maubot
StateDirectory=maubot
ConfigurationDirectory=maubot

TemporaryFileSystem=/
BindReadOnlyPaths=/usr

DynamicUser=true

### Hardening ###
PrivateTmp=true
PrivateDevices=true
PrivateUsers=true

CapabilityBoundingSet=
AmbientCapabilities=

ProtectSystem=strict
ProtectHome=yes

ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
ProtectClock=true
ProtectHostname=true
ProtectKernelLogs=true

ProtectProc=invisible
ProcSubset=pid

RestrictAddressFamilies=AF_INET AF_INET6
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true

SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources @obsolete

RemoveIPC=true
NoNewPrivileges=true
LockPersonality=true
DevicePolicy=closed
Umask=0077

IPAddressDeny=any
IPAddressAllow=localhost
PrivateNetwork=false
SocketBindAllow=any

MemoryDenyWriteExecute=false

[Install]
WantedBy=multi-user.target
