[Unit]
Description=Matrix-Discord bridge
After=synapse.service
Wants=synapse.service

After=postgresql.service

[Service]
Restart=on-failure

WorkingDirectory=/usr/lib/node_modules/matrix-appservice-discord

LoadCredential=config:/etc/matrix-appservice-discord/config.yaml
LoadCredential=registration:/etc/synapse/registration/matrix-appservice-discord.yaml

ExecStart=/usr/bin/node ./build/src/discordas.js -c ${CREDENTIALS_DIRECTORY}/config -f ${CREDENTIALS_DIRECTORY}/registration

DynamicUser=True

### Hardening ###
PrivateTmp=true
PrivateDevices=true
PrivateUsers=true

CapabilityBoundingSet=
AmbientCapabilities=

ProtectSystem=strict
ProtectHome=yes

ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
ProtectClock=true
ProtectHostname=true
ProtectKernelLogs=true

ProtectProc=invisible
ProcSubset=pid

RestrictAddressFamilies=AF_INET AF_INET6
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true

SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources @obsolete

RemoveIPC=true
NoNewPrivileges=true
LockPersonality=true
DevicePolicy=closed
Umask=0077

IPAddressDeny=any
IPAddressAllow=localhost
PrivateNetwork=false
SocketBindAllow=any

MemoryDenyWriteExecute=false

[Install]
WantedBy=multi-user.target
