[Unit]
Description=Matrix-Discord bridge
After=synapse.service

[Service]
Restart=always

WorkingDirectory=/usr/lib/node_modules/matrix-appservice-discord

LoadCredential=config:/etc/matrix-appservice-discord/config.yaml

ExecStart=/usr/bin/node ./build/src/discordas.js -c ${CREDENTIALS_DIRECTORY}/config

DynamicUser=True

PrivateTmp=yes
PrivateDevices=true
PrivateUsers=true

DevicePolicy=closed

ProtectSystem=strict
ProtectHome=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectClock=true
ProtectKernelLogs=yes

RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes

NoNewPrivileges=yes
LockPersonality=yes

SystemCallFilter=~@mount

[Install]
WantedBy=multi-user.target
