[Unit]
Description=Matrix-IRC bridge
After=synapse.service
Wants=synapse.service

[Service]
Restart=on-failure

WorkingDirectory=/usr/lib/node_modules/matrix-appservice-irc

LoadCredential=config:/etc/matrix-appservice-irc/config.yaml
LoadCredential=passkey:/etc/matrix-appservice-irc/passkey.pem
LoadCredential=registration:/etc/synapse/registration/matrix-appservice-irc.yaml

ExecStart=/usr/bin/node app.js -c ${CREDENTIALS_DIRECTORY}/config -f ${CREDENTIALS_DIRECTORY}/registration
ExecReload=/usr/bin/kill -SIGHUP $MAINPID

DynamicUser=True

### Hardening ###
