[Unit]
Description=Matrix-Whatsapp bridge
After=synapse.service
Wants=synapse.service

[Service]
Restart=on-failure

LoadCredential=config:/etc/mautrix/whatsapp/config.yaml
ExecStart=/usr/bin/mautrix-whatsapp -c ${CREDENTIALS_DIRECTORY}/config

WorkingDirectory=/var/lib/mautrix/whatsapp

StateDirectory=mautrix/whatsapp
LogsDirectory=mautrix/whatsapp

DynamicUser=true

### Hardening ###
PrivateTmp=true
PrivateDevices=true
PrivateUsers=true

CapabilityBoundingSet=
AmbientCapabilities=

ProtectSystem=strict
ProtectHome=yes

ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
ProtectClock=true
ProtectHostname=true
ProtectKernelLogs=true

ProtectProc=invisible
ProcSubset=pid

RestrictAddressFamilies=AF_INET AF_INET6
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true

SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources @obsolete

RemoveIPC=true
NoNewPrivileges=true
LockPersonality=true
DevicePolicy=closed
Umask=0077

IPAddressDeny=any
IPAddressAllow=localhost
PrivateNetwork=false
SocketBindAllow=any

MemoryDenyWriteExecute=false

[Install]
WantedBy=multi-user.target
