[Unit]
Description=Matrix-Whatsapp bridge
After=synapse.service
Wants=synapse.service

[Service]
Restart=on-failure

LoadCredential=config:/etc/mautrix/whatsapp/config.yaml
ExecStart=/usr/bin/mautrix-whatsapp -c ${CREDENTIALS_DIRECTORY}/config

WorkingDirectory=/var/lib/mautrix/whatsapp

StateDirectory=mautrix/whatsapp
LogsDirectory=mautrix/whatsapp

DynamicUser=true

### Hardening ###
